#div1{
    float: left;
    padding-left: 15px;
}

h1{
    font-size: 5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    color: peru;
}

h2{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.2em;
    font-weight: bolder;
    color: #5c3004bb;
    padding-bottom: 12px;
    border-bottom: 2px solid #cf6b07bb;
}

.tanooki{
    height: 7%;
    width: 7%;
}

#t1{
    border-bottom: 2px solid #cf6b07bb;
}

#t2{
    transform: rotate(90deg);
}

#t3{
    transform: rotate(180deg);
}

#t4{
    transform: rotate(270deg);
}

#t6{
    transform: rotate(90deg);
}

#t7{
    transform: rotate(180deg);
}

#t8{
    transform: rotate(270deg);
}

#div2{
    padding: 20px;
    border: 5px dotted #5c3004bb;
    margin: 15px;
}

#food{
    width: 10%;
    float: left;
}

#statue{
    width: 10%;
    float: right;
}

#mario{
    width: 5%;
    float: left;
}

p{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
    color: #5c3004bb;
    line-height: 1.7
}

